/* 폰트적용 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노멀라이징 */
*{
  margin: 0 ;
  padding: 0 ;
}
ul , li {
  list-style: none ;
}
a{
  color: inherit ;
  text-decoration: none ;
}

/* 라이브러리 */
.cell{
  float: left ;
}
.cell-r{
  float: right ;
}
.row::after{
  display: block;
  clear: both;
  content:"";
}
.con{
  max-width: 1200px;
  margin: 0 auto; 
}

.img-box>img{
  width: 100%;
  display:block;
}
/* 스타일 */

/* top-bar 시작 */

.top-bar{
  height: 120px;
  background-color: #023586;
  
}

.top-bar .logo {
  margin: 0 auto;
}

.top-bar .logo > a {  
  color: #fff;  
  font-size: 36px;
  background-size: contain;
  padding-left:40%;  
}

.top-bar .menu {
  width: 1050px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

.top-bar .menu >ul>li>a{  
  font-size: 16px;
  line-height:40px;
  margin-right: 50px;
  margin-left: 50px;  
  color: #fff;
  text-align:justify;
}
/* top-bar 끝 */

/* slider 시작 */
.slider-wrap{
  max-width: 800px;
  margin: 0 auto;
  position: relative ;  
  padding-top: 10px;
  
}

.slider > div {
  height:500px;
}

.slider .slick-dots li button::before {
  color:blue;
  font-size:20px;
}

.slider .slick-dots li.slick-active button::before {
  color:blue;
}

/* slider 끝 */

/* 제품바로가기 시작 */
.section1 {
  height: 235px;
  background-color: #ddd;
}

.section1 > h5{
  font-weight:bold;
}

.section1 > .menu-wrap{
  height: 178px;
  margin-top: 20px;
}

.section1 > .menu-wrap > .menu{
  width:160px;
  height: 178px;
  background-color:#023586;
  padding:10px;
  box-sizing:border-box;
  margin-right: 40px;
  border-radius:20px;
}

.section1 > .menu-wrap > .menu:nth-child(6n){
  margin-right: 0px;
}

.section1> .menu-wrap > .menu >.img-box {
  width: 128px;
  height: 132px;
  margin: 0 auto;
  
}

.section1> .menu-wrap > .menu >.img-box> img{
  width:100%;
  display:block;
}

.section1> .menu-wrap > .menu >.txt-box> p{
  text-align:center;
  color:white;
  margin-top: 5px;
  font-size: 16px;
}

/* section2 시작 */

.section2{
  height: 620px;
  margin-top: 50px;
}

.section2 > .promotion {
  width: 576px;
  height: 606px;
}

.section2 > .promotion > h5{
  font-weight:bold;
}

.section2 > .promotion > .img-box{
  max-width: 575px;
  max-height: 576px;
}


.section2 > .new-menu {
  width: 576px;
  height: 606px;
}

.section2 > .new-menu > h5{
  font-weight:bold;
}

.section2 > .new-menu > .img-box{
  max-width: 575px;
  max-height: 576px;
}


/* section2 끝 */
/* section3 시작 */


.section3 {
  height: 460px;
  margin-top: 50px;
}

.section3 > .magazine > h5{
  font-weight:bold;
}

.section3 > .magazine >.news{
  width: calc((100% - 96px)/3);
  height: 425px;
  margin-right: 48px;
}

.section3 > .magazine >.news:nth-child(4n){
  margin-right: 0px;
}


/* section3 끝 */
/* section4 시작 */
.section4{
  width: 1200px;
  height: 620px;
  margin-top: 40px;
}

.section4 > .delivery{
  width: 680px;
  height: 620px;
}

.section4 > .delivery > h5 {
  font-weight:bold;
}

.section4 > .delivery > .delivery-box{
  width: 680px;
  height: 250px;
  margin-top: 20px;
}

.section4 > .delivery > .delivery-box> .delivery-icon{
  width: 264px;
  height: 226px;
  background-image: url(https://i.postimg.cc/T18szVzW/image-24.png);
}

.section4 > .delivery > .delivery-box> .delivery-text{
  width: 366px;
  height: 100px;
  background-color: #023586;
  margin-left: 20px;
  box-sizing:border-box;  
  border-radius:20px;
  color:white;
  text-align:center;
  margin-bottom: 20px;  
}
.section4 > .delivery > .delivery-box> .delivery-text > p{  
  line-height:65px;
}
.section4 > .delivery > .delivery-box> .delivery-text > p:nth-child(2n){  
  line-height:0px;
}

.section4 > .delivery > .pickup-box{
  width: 680px;
  height: 250px;
  margin-top: 50px;
}

.section4 > .delivery > .pickup-box> .pickup-icon{
  width: 264px;
  height: 226px;
  background-image: url(https://i.postimg.cc/k4ZVq4sS/image-23.png);
}

.section4 > .delivery > .pickup-box> .pickup-text{
  width: 366px;
  height: 100px;
  background-color: #023586;
  margin-left: 20px;
  box-sizing:border-box;  
  border-radius:20px;
  color:white;
  text-align:center;
  margin-bottom: 20px;  
}

.section4 > .delivery > .pickup-box> .pickup-text > p{  
  line-height:65px;
}
.section4 > .delivery > .pickup-box> .pickup-text > p:nth-child(2n){  
  line-height:0px;
}

.section4 > .information{
  width: 471px;
  height: 620px;
  margin-left: 48px;
  
}

.section4 > .information > .franchise{
  width: 471px;
  height: 237px;
  background-image: url(https://i.postimg.cc/TPvXbW20/image-33.png); 
  box-sizing:border-box;  
  border-radius:20px;
  margin-top: 35px; 
}

.section4 > .information > .recruit{
  width: 472px;
  height: 337px;
  margin-top: 22px;
}

.section4 > .information > .recruit > .recruit-01{
  width: 472px;
  height: 77px;
}

.section4 > .information > .recruit > .recruit-01 > .spc-img-box{
  width: 95px;
  height: 32px;
  background-image: url(https://i.postimg.cc/pXd8NmHs/image-31.png);
  margin-top: 18px;
  margin-left: 21px;
}

.section4 > .information > .recruit > .recruit-01 > .spc-txt-box{
  margin-left: 13px;
  margin-top: 15px;
  font-weight:bold;
}

.section4 > .information > .recruit > .recruit-img{
  width: 232px;
  height: 68px;
  margin-right: 8px;
  margin-bottom: 12px;
  box-sizing:border-box;
  border-radius:20px;
}

.section4 > .information > .recruit > .recruit-img:nth-child(2n){
  margin-right: 0;
}

/* 섹션4 끝 */
/* 푸터 시작 */

.footer{
  height: 360px;
  background-color: #023586;
  margin-top: 40px;
}

.footer >.footer-box > .logo-box{
  width: 264px;
  height: 360px;  
}

.footer >.footer-box > .logo-box > .img-box{
  width: 225px;
  height: 225px;
  margin-top: 40px;
  background-image: url(https://i.postimg.cc/13PSdq6d/image.png);
}

.footer >.footer-box > .text-box{
  width: 576px;
  height: 360px;
  margin-left: 48px;
}
.footer >.footer-box > .text-box > .info-box{
  width: 160px;
  height: 220px;
  margin-top: 30px;
}
.footer >.footer-box > .text-box > .contect-box{
  width: 263px;
  height: 220px;
  margin-left: 30px;
  margin-top: 30px;
}

.footer >.footer-box > .text-box > .add-box{
  width: 575px;
  height: 60px;
  margin-top: 40px;  
}


.footer >.footer-box > .other-box{
  width: 264px;
  height: 360px;
  background-color: #fdd;
  margin-left: 48px;
}

.footer >.footer-box > .other-box > .follow{
  width: 264px;
  height: 77px;
  background-color: red;
  margin-top: 30px;
}
